.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255 251 251 / 74%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup p {
    color: black;
}

.headd {
  padding-top: 10px;
  /* border: 1px solid rgb(186, 186, 247); */
  position: relative;
}

.headd p {
  color: #A1CCA5;
  font-size: 4vw;
  background-color: #101010;
  z-index: 10;
  position: relative;
  width: 420px;
  margin-left: 10vw;
}

.headd::before {
  content: "";
  border-top: 2px solid #A1CCA5;
  position: absolute;
  top: 45px;
  width: 100%;
  display: block;
  z-index: 1;
}

.headd::after {
  content: "";
  border-top: 2px solid #A1CCA5;
  position: absolute;
  bottom: 33px;
  width: 100%;
  display: block;
  z-index: 1;
}

.tasks, .wor-timer {
  margin-left: 12vw;
}

.play button {
  background-color: #A1CCA5;
  border: none;
  border-radius: 4px;
  margin-left: 12vw;
  padding: 8px 20px 8px 20px;
}

.logo img {
  width: 800px;
  position: absolute;

  top: 43%;
  transform: translateY(-50%);
  right: 7vw;
}

.tsk {

    border: 1px solid #A1CCA5;
    padding: 6px!important;
    width: 140px;
    margin-bottom: 25px;
}

.avatar-profile{
  position: absolute;
  top: 43%;
  right:10%;
  width: 300px;
  height: auto;
}